.local-envasyllabus-course-syllabus .syllabus-title {
    font-weight: bold;
    font-size: x-large;
}

.local-envasyllabus-course-syllabus .syllabus-fullname {
    font-weight: bold;
    font-size: x-large;
}