.local-envasyllabus-course-syllabus .syllabus-title {
    font-weight: bold;
    font-size: x-large;
}

.local-envasyllabus-course-syllabus .syllabus-fullname {
    font-weight: bold;
    font-size: x-large;
}

.local-envasyllabus-ccat .cshortname {
    margin-top: -1.5em;
}

.local-envasyllabus-ccat .course-card .card-img-top {
    min-height: 15em;
}
.local-envasyllabus-ccat .course-card  {
    min-height: 25em;
}
