/* Competencies style */
#page-local-envasyllabus-syllabuspage .small-doghnut-legend,
#page-local-envasyllabus-syllabuspage .small-doghnut {
    width: 100% !important;
}

/* Course page */
.local-envasyllabus-course-syllabus .syllabus-title {
    font-weight: bold;
    font-size: x-large;
}

.local-envasyllabus-course-syllabus .syllabus-header-img {
    max-height: 400px;
    max-width: 450px;
}

.local-envasyllabus-course-syllabus .syllabus-data {
    line-height: normal;
    width: auto;
}

.local-envasyllabus-course-syllabus .syllabus-data td {
    border-top: none;
    padding: 4px 8px;
}

.local-envasyllabus-course-syllabus .syllabus-data td.data-value {
    text-align: right;
}

.local-envasyllabus-course-syllabus .syllabus-data tr.highlighted-top td {
    font-size: large;
    font-weight: bolder;
    padding: 0em 8px 1em;
}

.local-envasyllabus-course-syllabus .syllabus-data tr.highlighted-bottom td {
    font-size: large;
    font-weight: bolder;
    padding: 1em 8px 0em;
}

.local-envasyllabus-course-syllabus .syllabus-resp {
    padding: 0.5em 0em 2em;
}

.local-envasyllabus-course-syllabus .syllabus-fullname {
    font-size: 1.2rem;
    padding-top: .75em;
}

.local-envasyllabus-course-syllabus .syllabus-summary {
    margin: 1em auto;
}

.local-envasyllabus-course-syllabus .graph-header-title {
    display: none;
}

.local-envasyllabus-course-syllabus .syllabus-desc-container table {
    width: 100%;
    margin-bottom: 20px;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

.local-envasyllabus-course-syllabus .syllabus-desc-container table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.local-envasyllabus-course-syllabus .syllabus-desc-container h4 {
    display: block;
    width: 100%;
}

/* Catalog page */
.local-envasyllabus-ccat .cshortname {
    margin-top: -1.5em;
}

.local-envasyllabus-ccat .course-card {
    min-height: 25em;
    background: #ffffff;
    margin-bottom: 0.5em;
}

.local-envasyllabus-ccat .course-card .card-img-top {
    height: 200px;
    width: 100%;
}

.local-envasyllabus-ccat .course-img {
    background-size: cover;
}

.local-envasyllabus-ccat .view-course img {
    width: 1.5em;
    height: 1.5em;
}
