{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_envasyllabus/catalog_course_category

    This template renders the courses categories as a list

    Example context (json):
    {
        "nocoursesimg": "https://moodlesite/theme/image.php/boost/block_myoverview/1535727318/courses",
        "grouping": "all",
        "sort": "fullname",
    }
}}
<div id="catalog-course-category-{{uniqid}}" class="local-envasyllabus-ccat">
    {{#sortedCourses}}
        {{#semesters}}
            <div class="card-group container" role="list">
                <div class="row-fluid">
                    {{#courses}}
                        <div class="col-3 span3">
                            <div class="card course-card" role="listitem" data-course-id="{{{id}}}" data-view-url="{{viewurl}}">
                                <img class="card-img-top card-img img-fluid course-img" src="{{courseimageurl}}" alt="{{#str}}aria:courseimage, core_course{{/str}}">

                                <div class="text-muted muted d-flex mb-1 flex-wrap">
                                    <span class="sr-only">
                                        {{#str}}aria:courseshortname, core_course{{/str}}
                                    </span>
                                    <div class="cshortname bg-dark text-white headline-v2 d-inline p-2">
                                        {{{shortname}}}
                                    </div>
                                </div>
                                <div class="card-body p-2 d-flex flex-column" id="course-info-container-{{id}}-{{uniqid}}">
                                    <div class="d-flex align-items-start p-b-1 flex-grow-1">
                                        <div class="w-100 text-truncate">
                                            <span class="sr-only ">
                                                {{#str}}aria:coursename, core_course{{/str}}
                                            </span>
                                            <span class="font-weight-bold">
                                                {{fullname}}
                                            </span>
                                            {{^visible}}
                                                <div class="d-flex flex-wrap">
                                                    <span class="tag tag-info">{{#str}} hiddenfromstudents {{/str}}</span>
                                                </div>
                                            {{/visible}}
                                        </div>
                                    </div>
                                    <div class="align-self-end">
                                        {{#cf.uc_total_heures_enseignants.value}}
                                            <span>
                                                <i class="icon text-primary fa fa-clock-o" title="{{cf.uc_total_heures_enseignants.name}}"></i>
                                                {{#str}}coursecard:hours, local_envasyllabus, {{cf.uc_total_heures_enseignants.value}}{{/str}}
                                            </span>
                                        {{/cf.uc_total_heures_enseignants.value}}
                                        {{#cf.uc_ects.value}}
                                            <span>
                                                <i class="icon text-primary fa fa-trophy" title="{{cf.uc_ects.name}}"></i>
                                                {{#str}}coursecard:credits, local_envasyllabus, {{cf.uc_ects.value}}{{/str}}
                                            </span>
                                        {{/cf.uc_ects.value}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/courses}}
                </div>
            </div>
        {{/semesters}}
    {{/sortedCourses}}
</div>
{{#js}}
    document.getElementById('catalog-course-category-{{uniqid}}').querySelectorAll('.card.course-card').forEach(
    (e) => {
        e.onclick = () => {
        window.location = e.dataset.viewUrl;
        };
    });
{{/js}}

