{{!
   This file is part of Moodle - http://moodle.org/

   Moodle is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   Moodle is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
 }}
{{!
  @local_envasyllabus/course_syllabus

  Syllabus templated

  The purpose of this template is to output the syllabus of a course

  Classes required for JS:

  Data attributes required for JS:

  Context variables required for this template:

  Example context (json):
  {

  }

}}

<div class="local-envasyllabus-course-syllabus-header container">
    <div class="row">
        <div class="col-4 span4"><img class="img-fluid" src="{{coursedata.courseimage}}" alt="{{coursedata.fullname}}"></div>
        <div class="col-8 span8">
            <table class="table-borderless">
                {{#headerdata}}
                    <tr class="{{class}}">
                        <td>{{#icon}}{{#pix}}{{.}}, local_envasyllabus, {{title}}{{/pix}}{{/icon}}{{title}}</td>
                        <td>{{value}}</td>
                    </tr>
                {{/headerdata}}
            </table>
        </div>
    </div>
</div>