{{!
   This file is part of Moodle - http://moodle.org/

   Moodle is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   Moodle is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
 }}
{{!
  @template local_envasyllabus/course_syllabus

  Syllabus template

  The purpose of this template is to output the syllabus of a course

  Example context (json):
  {
    "coursedata": { "fullname": "Course name", "courseimage": "https://moodlesite/theme/image.php/boost/block_myoverview/1535727318/courses" },
    "headerdata": [ { "class": "class", "icon": "icon", "title": "title", "value": "value" } ]
  }

}}

<div class="local-envasyllabus-course-syllabus">
    <div class="syllabus-title-area m-y-2">
        <h3 class="syllabus-title">{{#str}}syllabuspage:title, local_envasyllabus{{/str}}</h3>
        <div class="syllabus-fullname text-black-50">{{coursedata.displayname}}</div>
        <div class="syllabus-resp text-light">
            {{#str}}syllabuspage:manager, local_envasyllabus{{/str}}: {{{managers}}}
        </div>
    </div>
    {{>local_envasyllabus/course_syllabus_header}}
    <div class="syllabus-summary">{{{summary}}}</div>
    {{<local_envasyllabus/course_syllabus_collapsible}}
        {{$id}}teachers-{{uniqid}}{{/id}}
        {{$type}}teachers{{/type}}
        {{$title}}{{#str}}syllabuspage:teachers, local_envasyllabus{{/str}}{{/title}}
        {{$content}}
            {{#teachers}}
                <div class="w-25">
                    <div class="d-flex p-1">
                        <div>
                            {{#userpicture}}
                                <div class="myprofileitem picture">
                                    {{{ userpicture }}}
                                </div>
                            {{/userpicture}}
                        </div>
                        <div class="d-flex flex-column">
                            <div>{{ userfullname }}</div>
                            <div>{{{ useremail }}}</div>
                        </div>
                    </div>
                </div>
            {{/teachers}}
        {{/content}}
    {{/local_envasyllabus/course_syllabus_collapsible}}
    {{<local_envasyllabus/course_syllabus_collapsible}}
        {{$id}}competencies-{{uniqid}}{{/id}}
        {{$type}}competencies{{/type}}
        {{$title}}{{#str}}syllabuspage:competencies, local_envasyllabus{{/str}}{{/title}}
        {{$content}}
            {{#competencies}}
                <div class="d-flex competency-inner-container">
                    <div>
                        {{{graph}}}
                    </div>
                    <div>
                        {{{description}}}
                    </div>
                </div>
            {{/competencies}}
        {{/content}}
    {{/local_envasyllabus/course_syllabus_collapsible}}
    {{#prerequisites}}
        {{<local_envasyllabus/course_syllabus_collapsible}}
            {{$id}}prerequisites-{{uniqid}}{{/id}}
            {{$type}}prerequisites{{/type}}
            {{$title}}{{#str}}syllabuspage:prerequisites, local_envasyllabus{{/str}}{{/title}}
            {{$content}}
                {{{prerequisites}}}
            {{/content}}
        {{/local_envasyllabus/course_syllabus_collapsible}}
    {{/prerequisites}}
    {{#programme}}
        {{<local_envasyllabus/course_syllabus_collapsible}}
            {{$id}}program-{{uniqid}}{{/id}}
            {{$type}}program{{/type}}
            {{$title}}{{#str}}syllabuspage:program, local_envasyllabus{{/str}}{{/title}}
            {{$content}}
                {{{programme}}}
            {{/content}}
        {{/local_envasyllabus/course_syllabus_collapsible}}
    {{/programme}}
    {{#vaq}}
        {{<local_envasyllabus/course_syllabus_collapsible}}
            {{$id}}vaq-{{uniqid}}{{/id}}
            {{$type}}vaq{{/type}}
            {{$title}}{{#str}}syllabuspage:vaq, local_envasyllabus{{/str}}{{/title}}
            {{$content}}
                {{{vaq}}}
            {{/content}}
        {{/local_envasyllabus/course_syllabus_collapsible}}
    {{/vaq}}
    {{#additionalinfos}}
        {{<local_envasyllabus/course_syllabus_collapsible}}
            {{$id}}additionalinfos-{{uniqid}}{{/id}}
            {{$type}}additionalinfos{{/type}}
            {{$title}}{{#str}}syllabuspage:additionalinfos, local_envasyllabus{{/str}}{{/title}}
            {{$content}}
                {{{additionalinfos}}}
            {{/content}}
        {{/local_envasyllabus/course_syllabus_collapsible}}
    {{/additionalinfos}}
</div>